@page "/chat"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@attribute [StreamRendering]
@inject IChatService ChatService
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<h3>Chat</h3>

<EditForm Model="FormMessage" OnSubmit="Send" FormName="ChatInput">
    <div>
        <label>
            Nickname:
            <InputText @bind-Value="@FormMessage!.Nickname"/>
        </label>
    </div>
    <div>
        <label>
            Message:
            <InputText @bind-Value="@FormMessage.Text"/>
        </label>
    </div>
    <div>
        <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
    </div>
</EditForm>

@if (_messages is null)
{
    <div><span>Loading...</span></div>
}
else
{
    <ul id="messageList">
        @foreach (var message in _messages)
        {
            @if (message.Nickname is not null)
            {
                <li>@message.Nickname: @message.Text</li>
            }
        }
    </ul>
}

@code {
    private HubConnection? _hubConnection;
    private List<ChatMessage>? _messages;

    [SupplyParameterFromForm] 
    public FormMessage? FormMessage { get; set; }

    public bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        FormMessage ??= new FormMessage();
        _messages = (await ChatService.GetMessagesAsync()).ToList();
        
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7145/chat-hub")
            .Build();

        _hubConnection.On<ChatMessage>("ReceiveMessage", chatMessage =>
        {
            _messages!.Add(chatMessage);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    public async Task Send()
    {
        if (_hubConnection is not null)
        {
            var chatMessage = new ChatMessage(FormMessage!.Text, FormMessage.Nickname, DateTimeOffset.UtcNow);
            FormMessage.Text = string.Empty;
            await _hubConnection!.SendAsync("SendMessage", chatMessage);
            await ChatService.AddMessageAsync(chatMessage);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}